apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: system
  name: webhooks
  labels:
    app: webhooks
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webhooks
  template:
    metadata:
      labels:
        app: webhooks
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: webhooks-admin
      containers:
        - name: webhooks
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ "ALL" ]
          command: ["/webhooks"]
          image: quay.io/operator-framework/rukpak:devel
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
            - containerPort: 9443
              name: webhook-server
              protocol: TCP
          volumeMounts:
          - mountPath: /tmp/k8s-webhook-server/serving-certs
            name: cert
            readOnly: true
          resources:
            requests:
              cpu: 1m
              memory: 15Mi
      volumes:
        - name: cert
          secret:
            defaultMode: 420
            secretName: WEBHOOK_SECRET_NAME
