name: e2e

on:
  workflow_dispatch:
  pull_request:
  merge_group:
  push:
    branches:
    - main

jobs:
  e2e-kind:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v4
      with:
        go-version-file: "go.mod"
    - name: Run e2e tests
      run: |
        make e2e
