name: unit

on:
  push:
    branches:
      - '**'
  pull_request:
    paths:
      - '**'

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '~1.17'
      - run: make test-unit
